@mixin logo-nav-size {
  height: 15px;
  width: 15px;
}

@mixin profil-img {
  border-radius: 50%;
}

@mixin font-size {
  font-size: 14px;
  font-weight: bold;  
} 

@mixin border {
  border: 1px solid grey;  
}

@mixin h1  {
  font-size: 24px;
  text-transform: capitalize;
  font-weight: 600;
}

@mixin h2 {
  font-size: 20px;
}

@mixin h3 {
  font-size: 14px;
  font-weight: 600;
}

@mixin h4 {
  font-size: 20px;
}











@mixin flex ($flex, $justify, $align) {
  display: $flex;
  justify-content: $justify;
  align-items: $align;
  
}

@mixin size ($width, $height) {
  width: $width;
  height: $height;  
}